/* Gradient animation by Manuel Pinto: https://codepen.io/P1N2O/pen/pyBNzX */
.gradient-background {
  background: linear-gradient(-60deg, #133032, #0dc654, #0f5c5f);
  background-size: 200% 200%;
  animation: gradient-animation 40s ease infinite;
}
